.md-icon-ux {
    width: 100px;
}
.icon {
  font-size: 48px;
}
.refresh{
  float:right;
}
.title{
  font-size: x-large;
  margin-left:20px;
}
.date{
  float: right;
  font-size: 13px;
  margin-top: 10px;
}
.min-height{
  min-height: 1px;
}